body {
  h1 {
    color: red;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.size {
  border: 2px solid;
  padding: .5rem 1rem;
  background: lightgrey;
  display: inline-block;
}
.colour {
  border: 2px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
}
