body {
  h1 {
    text-align: center;
    color: red;
  }
}
.c-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product {
  flex-basis: 20%;
  margin: 1rem;
  position: relative;
  @media only screen and (max-width: 600px) {
    flex-basis: 40%;
  }
}

.product .image {
  position: relative;
  padding-bottom: calc(2098 / 1399 * 100%);
  margin-bottom: 1rem;
  background: lightgrey;
  overflow: hidden;
}
.product .image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
}
.product-title {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.prices {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.now-price {
  font-size: 1.5rem;
  font-weight: bold;
}
.savings {
  color: red;
  font-weight: bold;
  display: inline-block;
}
.sizes {
  margin-bottom: 60px;
}
.size {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  height: 30px;
  width: 30px;
  margin: 5px 5px 5px 0;
  background: lightgrey;
}
.colours {
  margin: 1rem 0;
}
.colour {
  border: 2px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 5px 5px 5px 0;
  position: absolute;
  bottom: 30px;
}

.ui {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  @media only screen and (max-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.option-select {
  padding: 1rem;

  &--checkboxes {
    label {
      font-size: 1.5rem;
      padding: .5rem;
      display: inline-block;
      width: 70%;
      text-transform: capitalize;
    }
    input[type="checkbox"] {
      transform: scale(2);
      padding: .5rem;
      right: 0;
      text-align: center;
      vertical-align: middle;
    }
  }
}

#price-range {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  border: none;
}

.select-title  {
  font-size: 2rem;
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 1rem;
}
